//couleurs principales du site. Vont changer avec l'affinement de la 
//charte graphique
//$main-color : #d53b1e;
$main-color : #e44008;
$text-main-color: white;
$secondary-color : rgba(28, 111, 60);
$text-secondary-color : black;

//image d'arrière plan
$backgroundURL : url("./images/poker-background.png");

//constantes de media queries
$main-treshold : 1000px;
$secondary-treshold : 600px;
$low-treshold: 380px;

//constantes de tailles des éléments:
$navbar-height : 80px;
$skewYdeg : 5deg;
$font-size : 25px;