//couleurs principales du site. Vont changer avec l'affinement de la 
//charte graphique
$main-color : #d53b1e;
$text-main-color: white;
$secondary-color : green;
$text-secondary-color : black;
$backgroundURL : url("./images/poker-background.png");